!readme.txt

/!DS!

/bin/StereoSample/Aloe/*.png
/bin/StereoSample/Aloe/dmin.txt
/bin/Result/*.jpg
/bin/Result/*.avi
/bin/Result/*.xml
/bin/Result/*.png

/opencv_classes/Debug
/opencv_classes/ipch

Win32
__history

*.bsc
*.dcu
*.local
*.exe
*.dsk
*.identcache
*.~*
*.tvsconfig
*.skincfg
*.otares
*.drc
*.jdbg
*.map
*.log
*.tlog
*.lastbuildstate
*.exp
*.ilk
*.lib
*.pdb
*.suo
*.vlb